{% extends 'base.html' %} {% load static %} 
{% block title %}
{{ contact.meta_title }}
{% endblock %}
{% block description %}
{{ contact.meta_description }}
{% endblock %}
{% block keywords %}
{{ contact.meta_keywords }}
{% endblock %}
{% block content %}

<main>
	<div class="contact">
		<div class="contact__container">
			<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<a href="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
					class="breadcrumbs__item">
					Главная
					<meta itemprop="position" content="1" />
				</a>
				<span itemprop="name" class="breadcrumbs__item">
					Контакты
					<meta itemprop="position" content="2" />
				</span>
			</div>
			<h1 class="contact__title _title-h2">
        {% if contact.meta_h1 %}{{  contact.meta_h1 }}{% else %}Контакты компании <span>Акрополь</span>{% endif %}
      </h1>
			<div class="contact__note">
        {{ contact.description|safe }}

			</div>
			<div class="contact__grid">
				<div class="contact__item item-contact">
					<h2 class="item-contact__title">Контакты</h2>
					<div class="item-contact__row">
						<img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="Иконка телефона" title="Иконка телефона">
						<div class="item-contact__row-info">
							<p class="item-contact__row-big">{{ site_settings.address }}</p>
							<a href="tel:{{ site_settings.phone }}" class="item-contact__row-small">{{ site_settings.phone }}</a>
						</div>
					</div>
					<div class="item-contact__row">
						<img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="Иконка телефона" title="Иконка телефона">
						<div class="item-contact__row-info">
							<p class="item-contact__row-big">{{ site_settings.address_two }}</p>
							<a href="tel:{{ site_settings.phone_two }}" class="item-contact__row-small">{{ site_settings.phone_two }}</a>
						</div>
					</div>
					<div class="item-contact__row" id="time-work">
						<img src="{% static 'theme/mb/images/icon/location.svg' %}" alt="Иконка телефона" title="Иконка телефона">
						<div class="item-contact__row-info">
							<p class="item-contact__row-big">Сегодня</p>
							<p class="item-contact__row-small">{{ site_settings.time_work }}</p>
						</div>
						<div class="item-contact__hidden">
							<p>В воскресенье режим работы по догоовренности</p>
							<!-- <p>Пн: c 09:00 до 18:00</p>
							<p>Вт: c 09:00 до 18:00</p>
							<p>Ср: c 09:00 до 18:00</p>
							<p>Чт: c 09:00 до 18:00</p>
							<p>Пт: c 09:00 до 18:00</p>
							<p>Сб: c 09:00 до 18:00</p>
							<p>Вс: c 09:00 до 18:00</p> -->
						</div>
					</div>
					<div class="item-contact__row">
						<img src="{% static 'theme/mb/images/icon/location.svg' %}" alt="Иконка телефона" title="Иконка телефона">
						<div class="item-contact__row-info">
							<p class="item-contact__row-big">Email</p>
							<p class="item-contact__row-small">{{ site_settings.email }}</p>
						</div>
					</div>
				</div>
				<div class="contact__item item-contact">
					<h2 class="item-contact__title">Реквизиты</h2>
					<div class="item-contact__row">
						<div class="item-contact__row-info">
							<p class="item-contact__row-big">Юридическое название:</p>
							<p class="item-contact__row-small">{{ site_settings.ur_name }}</p>
						</div>
					</div>
					<div class="item-contact__row">
						<div class="item-contact__row-info">
							<p class="item-contact__row-big">ИНН:</p>
							<p class="item-contact__row-small">{{ site_settings.iin }}</p>
						</div>
					</div>
					<div class="item-contact__row">
						<div class="item-contact__row-info">
							<p class="item-contact__row-big">КПП:</p>
							<p class="item-contact__row-small">{{ site_settings.kpp }}</p>
						</div>
					</div>
					<div class="item-contact__row">
						<div class="item-contact__row-info">
							<p class="item-contact__row-big">ОГРН:</p>
							<p class="item-contact__row-small">{{ site_settings.ogrn }}</p>
						</div>
					</div>
				</div>
				<div class="contact__item item-contact">
					<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A75305f83b850436ebc3da0993be82eaef079bba8da91ecd1f39e5664653e0823&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
	{% comment %} {% include "../includes/contact-block.html" %} {% endcomment %}
</main>

</body>
{% endblock %}