.main {
  position: relative;
  padding: 149px 0px 146px;

  // .main__container

  &__container {
    position: relative;
  }

  // .main__top

  &__top {}

  // .main__bg

  &__bg {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  // .main__content

  &__content {}
}

.top-main {
  display: grid;
  grid-template-columns: 1fr 20% 1fr;
  gap: 20px;
  color: $white;
  margin-bottom: 50px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  // .top-main__left

  &__left {
    display: flex;
    align-items: center;
    gap: 52px;
  }

  // .top-main__item

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  // .top-main__address

  &__address {}

  // .top-main__phone

  &__phone {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  // .top-main__middle

  &__middle {
    display: flex;
    justify-content: center;
  }

  // .top-main__logo

  &__logo {}

  // .top-main__right

  &__right {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }

  // .top-main__right-row

  &__right-row {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  // .top-main__callback

  &__callback {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: $fontFamily;
  }
}

.content-main {

  // .content-main__title

  &__title {
    font-size: 72px;
    max-width: 565px;
    line-height: 120%;
    text-transform: uppercase;
    color: $white;

    span {
      font-weight: 600;
      font-size: inherit;
    }
  }

  // .content-main__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 59px;
    color: rgba($color: $white, $alpha: 1.0);
    background-color: rgba($color: $accent, $alpha: 1.0);
    border-radius: 5px;
    margin-top: 70px;
  }
}

.index-stock {
  padding: 40px 0px 80px;

  // .index-stock__container

  &__container {}

  // .index-stock__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 680px);
    grid-template-rows: repeat(2, 300px);
    gap: 10px;
  }

  // .index-stock__item

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 30px;
    border-radius: 10px;
    overflow: hidden;
    color: rgba($color: $white, $alpha: 1.0)
  }

  // .index-stock__item--first

  &__item--first {
    grid-column: span 1;
    grid-row: span 2;

    .index-stock__item-title {
      font-size: 56px;
      line-height: 120%;
      font-weight: 700;
    }
  }

  // .index-stock__item-img

  &__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  // .index-stock__item-title

  &__item-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;

    span {
      font-size: 32px;
      font-weight: 700;
      line-height: 150%;
      color: rgba($color: $accent, $alpha: 1.0);
    }
  }

  // .index-stock__item-discount

  &__item-discount {
    font-size: 72px;
    line-height: 140%;
    font-weight: 700;
    color: rgba($color: $accent, $alpha: 1.0);
  }
}

.index-catalog {
  padding: 90px 0px;

  // .index-catalog__container

  &__container {}

  // .index-catalog__title

  &__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
    color: rgba($color: $accent, $alpha: 1.0);
    text-align: center;
    margin-bottom: 50px;
  }

  // .index-catalog__inner

  &__inner {
    display: flex;
    gap: 58px;
  }

  // .index-catalog__category

  &__category {
    flex: 1 1 24%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  // .index-catalog__btn

  &__btn {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    line-height: 150%;
  }

  // .index-catalog__content

  &__content {
    width: 100%;
  }

  // .index-catalog__filter

  &__filter {
    margin-bottom: 40px;
  }

  // .index-catalog__cards

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 40px;
    width: 100%;
  }

  // .index-catalog__card

  &__card {}
}

.card {
  display: flex;
  flex-direction: column;

  // .card__image

  &__image {
    width: 230px;
    height: 230px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .card__content

  &__content {
    padding: 15px;
  }

  // .card__content-title

  &__content-title {
    line-height: 150%;
    margin-bottom: 23px;
  }

  // .card__content-char

  &__content-char {
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;

    &+& {
      margin-top: 10px;
    }
  }

  // .card__content-price

  &__content-price {
    margin-top: 18px;
    font-weight: 500;
    line-height: 160%;
  }

  // .card__content-link

  &__content-link {
    background-color: rgba($color: $accent, $alpha: 1.0);
    font-weight: 600;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($color: $white, $alpha: 1.0);
  }
}

.filter {
  display: flex;
  align-items: center;
  gap: 35px;

  // .filter__item

  &__item {
    position: relative;

    @media (hover:hover) {
      &:hover {
        .filter__item-text {
          color: rgba($color: $accent, $alpha: 1.0);
        }

        .filter__sublist {
          display: flex;
        }

        .filter__sublist-link {
          @media (hover:hover) {
            &:hover {
              color: rgba($color: $accent, $alpha: 1.0);
            }
          }
        }
      }
    }
  }

  // .filter__item-text

  &__item-text {
    cursor: pointer;


  }

  // .filter__sublist

  &__sublist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 200px;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    background-color: rgba($color: $white, $alpha: 1.0);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 7px 0px rgba(65, 162, 208, 0.1), 0px 30px 30px 0px rgba(65, 162, 208, 0.09), 0px 68px 41px 0px rgba(65, 162, 208, 0.05), 0px 121px 48px 0px rgba(65, 162, 208, 0.01), 0px 188px 53px 0px rgba(65, 162, 208, 0);

  }

  // .filter__sublist-item

  &__sublist-item {}

  // .filter__sublist-link

  &__sublist-link {
    display: block;
    padding: 5px 10px;
  }
}


.index-work {
  padding: 90px 0px;

  // .index-work__container

  &__container {}

  // .index-work__title

  &__title {
    color: rgb(31, 31, 31);
    font-size: 56px;
    font-weight: 400;
    line-height: 121%;
    margin-bottom: 20px;
  }

  // .index-work__links

  &__links {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;

    a {
      color: rgba($color: #949494, $alpha: 1);
      font-size: 24px;
      font-weight: 300;
      line-height: 121%;

      &._active {
        color: rgba($color: $mainColor, $alpha: 1.0);
      }
    }
  }

  // .index-work__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 245px);
    gap: 10px;
  }

  // .index-work__item

  &__item {
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 8px 17px 0px rgba(65, 162, 208, 0.1), 0px 30px 30px 0px rgba(65, 162, 208, 0.09), 0px 68px 41px 0px rgba(65, 162, 208, 0.05), 0px 121px 48px 0px rgba(65, 162, 208, 0.01), 0px 188px 53px 0px rgba(65, 162, 208, 0);

    &:first-child {
      grid-column: span 1;
      grid-row: span 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.index-reviews {
  padding: 90px 0px;

  // .index-reviews__container

  &__container {}

  // .index-reviews__inner

  &__inner {
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 58px;
  }

  // .index-reviews__info

  &__info {}

  // .index-reviews__text

  &__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: rgba($color: $accent, $alpha: 1.0);
    margin-bottom: 96px;
  }

  // .index-reviews__reviews

  &__reviews {}
}

.reviews {

  // .reviews__text

  &__text {
    font-size: 16px;
    line-height: 150%;
    flex: 1 1 auto;
    margin-bottom: 90px;
  }

  // .reviews__btn

  &__btn {
    width: 100%;
  }

  // .reviews__wrapper

  &__wrapper {}

  // .reviews__slider

  &__slider {
    height: 100% !important;
    padding: 10px 10px;
  }

  // .reviews__slide

  &__slide {
    padding: 35px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0px 0px 5px rgba($color: $accent, $alpha: .35);
  }

  // .reviews__name

  &__name {
    font-weight: 700;
    line-height: 150%;
    color: rgba($color: $accent, $alpha: 1.0);
  }
}

.index-contact {
  padding: 90px 0px;

  // .index-contact__container

  &__container {}

  // .index-contact__grid

  &__grid {
    padding: 50px 60px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 48px;
    border-radius: 10px;
    box-shadow: 0px 11px 24px 0px rgba(65, 162, 208, 0.15), 0px 43px 43px 0px rgba(65, 162, 208, 0.13), 0px 97px 58px 0px rgba(65, 162, 208, 0.08), 0px 173px 69px 0px rgba(65, 162, 208, 0.02), 0px 270px 76px 0px rgba(65, 162, 208, 0);
    background: rgb(255, 255, 255);
  }

  // .index-contact__item

  &__item {
    &:nth-child(2) {
      min-width: 291px;
      align-content: flex-end;
    }
  }

  // .index-contact__title

  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    letter-spacing: -3%;
    text-align: left;
    margin-bottom: 50px;

    span {
      color: rgba($color: $accent, $alpha: 1.0);
      font-size: inherit;
      font-weight: inherit;
    }
  }

  // .index-contact__list

  &__list {
    li {
      display: flex;
      align-items: center;
      gap: 10px;

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }

  // .index-contact__list-icon

  &__list-icon {}

  // .index-contact__list-text

  &__list-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -3%;
    text-align: left;

    span {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: rgba($color: $accent, $alpha: 1.0);
    }
  }

  // .index-contact__mobile

  &__mobile {
    align-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 0px 30px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  // .index-contact__logo

  &__logo {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    img {
      object-fit: cover;
    }
  }

  // .index-contact__mobile-text

  &__mobile-text {
    max-width: 173px;
    color: rgb(70, 70, 70);
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
  }

  // .index-contact__mobile-phones

  &__mobile-phones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    a {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  // .index-contact__call

  &__call {
    padding: 20px;
  }

  // .index-contact__form

  &__form {
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 4px 0px rgba(114, 176, 218, 0.2), 0px 7px 7px 0px rgba(114, 176, 218, 0.17), 0px 17px 10px 0px rgba(114, 176, 218, 0.1), 0px 29px 12px 0px rgba(114, 176, 218, 0.03), 0px 46px 13px 0px rgba(114, 176, 218, 0);
    background: rgb(255, 255, 255);
  }
}

.index-map {
  padding: 90px 0px;

  // .index-map__container

  &__container {}

  // .index-map__inner
  &__inner {
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 11px 24px 0px rgba(65, 162, 208, 0.15), 0px 44px 44px 0px rgba(65, 162, 208, 0.13), 0px 99px 60px 0px rgba(65, 162, 208, 0.08), 0px 177px 71px 0px rgba(65, 162, 208, 0.02), 0px 276px 77px 0px rgba(65, 162, 208, 0);
  }
}


/*
  Страница услуги
*/
._aBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  position: relative;
  // background-color: rgba($color: $accent, $alpha: .03);
  background: rgb(65, 162, 208);
  background: linear-gradient(0deg, rgba(65, 162, 208, 0.09) 50%, rgba(255, 255, 255, 1) 100%);

  // .hero__image
  &__image {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 550px;
    height: 80%;
  }

  .breadcrumbs {
    margin: 0px 0px 20px;
  }


  // .hero__container

  &__container {
    position: relative;
    z-index: 2;
  }

  // .hero__inner

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0px;
  }

  // .hero__title

  &__title {
    font-size: 45px;
    text-wrap: balance;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: rgba($color: $mainColor, $alpha: 1.0);

    span {
      font-size: inherit;
      line-height: inherit;
      font-weight: 600;
    }
  }

  // .hero__subtitle

  &__subtitle {
    max-width: 800px;
    text-wrap: balance;
    line-height: 160%;
    margin-bottom: 60px;
  }

  // .hero__buttons

  &__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  // .hero__button

  &__button {
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 5px 5px 5px 5px;
    color: rgba($color: $white, $alpha: 1.0);
    background-color: rgba($color: $accent, $alpha: 1.0);
  }

  // .hero__button--blue

  &__button--blue {}

  // .hero__button--small

  &__button--small {
    width: 50px;
    background-color: transparent;
    border: 2px solid rgba($color: $accent, $alpha: 1.0);
    color: rgba($color: $accent, $alpha: 1.0);
    position: relative;
    // transition: 0.6s;

    &::before {
      content: 'Заказать консультацию';
      position: absolute;
      left: 100%;
      top: -2px;
      width: 200px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid rgba($color: $accent, $alpha: 1.0);
      border-radius: 0px 5px 5px 0px;
      font-size: 14px;
      transform: translateX(30px);
      opacity: 0;
      pointer-events: none;
      transition: .3s;
      // background-color: rgba($color: $mainColor, $alpha: 1.0);
    }

    @media (hover:hover) {
      &:hover {
        border-radius: 5px 0px 0px 5px;

        &::before {
          opacity: 1;
          transform: translateX(0);
          pointer-events: all;
        }
      }
    }
  }
}

.service {

  // .service__content

  &__content {}

  // .service__container

  &__container {}

  // .service__inner

  &__inner {}

  // .service__text

  &__text {
    border-radius: 10px;
    box-shadow: 0px 11px 24px 0px rgba(65, 162, 208, 0.15), 0px 43px 43px 0px rgba(65, 162, 208, 0.13), 0px 97px 58px 0px rgba(65, 162, 208, 0.08), 0px 173px 69px 0px rgba(65, 162, 208, 0.02), 0px 270px 76px 0px rgba(65, 162, 208, 0);
    background: rgb(255, 255, 255);
    padding: 35px;
    margin: 50px 0px;

    h2 {
      font-size: 25px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
      line-height: 150%;
    }

    ol {
      margin-left: 40px;
      margin-bottom: 20px;

      li+li {
        margin-top: 10px;
      }
    }
  }
}