{% extends 'base.html' %} {% load static %}
{% block title %}
Гравировка на памятник в Томске | Акрополь
{% endblock %}
{% block description %}
Гравировка на памятник в Томске от компании "Акрополь". Сделать гравировка портрета на памятник под ключ.
Мы создаем точные и долговечные надписи на памятниках, которые сохранят память на долгие годы.
{% endblock %}
{% block keywords %}
гравировка, гравировка томск, сделать гравировку, гравировка на памятник
{% endblock %}
{% block content %}

<body>
<div class="wrapper">
  <div class="hero">
    <div class="hero__container">
      <img src="{% static 'theme/mb/images/1.png' %}" alt="Гравировка на памятнике Томск"
           title="Гравировка на памятнике Томск" class="hero__image-grav"/>
      <div class="hero__inner">
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1"/>
          </a>
          <a href="{% url 'service' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Услуги
            <meta itemprop="position" content="2"/>
          </a>
          <span itemprop="name" class="breadcrumbs__item">
              Гравировка
              <meta itemprop="position" content="3"/>
            </span>
        </div>
        <h1 class="hero__title">
          <span>Художественная гравировка </span><br/>
          надписей на памятнике
        </h1>
        <p class="hero__subtitle">
          это не только передача информации, но и способ выразить характер усопшего. Предлагаем свои услуги по
          изготовлению надписей и нанесению изображений.
        </p>
        <div class="hero__buttons">
          <button type="button" class="hero__button hero__button--blue" data-popup="order-service"
                  data-order="Гравировка">
            Заказать консультацию
          </button>
        </div>
      </div>
    </div>
  </div>

  <section class="service-content">
    <div class="service-content__container">
      <div class="service-content__text _text">
        <p>
          Художественная гравировка портретов, рисунков и надписей на памятнике — это не только передача информации, но
          и способ выразить характер усопшего. Предлагаем свои услуги по изготовлению и нанесению изображений. У нас
          работают квалифицированные художники-граверы,резчики и ретушеры с 15 летним опытом, что позволяет нам
          гарантировать качество. Выбор способов гравировки достаточно широкий, для любых запросов и любых возможностей,
          самое главное – любую работу должены выполнять профессионалы, такие как работают в компании "Акрополь".
        </p><br/>
        <h2>Гравировка на станке или в ручную ?</h2>
        <br/>
        <p>
          <strong>Для создания портрета на памятнике с фотографии важно учитывать несколько ключевых моментов:</strong>
        </p>
        <br/>
        <ol>
          <li>
            Качество фотографии: чем четче и детальнее фотография, тем точнее будет результат.Важно, чтобы изображение
            было высокого разрешения и не содержало искажений.
          </li>
          <li>
            Профессионализм мастера: опыт и профессионализм мастера,художника,позволяет сделать портрет из любой
            фотографии, любого качества, выбирайте опытных специалистов, которые имеют опыт работы с портретами и знают
            все тонкости процесса
          </li>
          <li>
            Технологии гравировки: современные технологии позволяют добиться высокой точности и качества изображения.
            Обратите внимание на используемые инструменты и оборудование
          </li>
          <li>
            Материал памятника: разные материалы требуют разных подходов к гравировке. Например, <a
            href="https://xn----7sbbi3adkojmfupe8q.xn--p1ai/category/granitnye/">гранит</a> и мрамор могут
            потребовать разных методов и инструментов
          </li>
          <li>
            Дополнительные детали: мастера могут добавить полутона, тени и другие элементы,даже изменить выражение лица
            чтобы сделать портрет более реалистичным
          </li>
          <li>
            Срок службы: изображение, портрет, надписи наносятся на камень путем выбивания алмазной иглой, пескоструем
            или рубкой, стереть такое не возможно,нет выгорания, выцветания и т.п. вещей которые происходят с
            альтернативными способами,и если не прибегнуть к механической переполировки срок службы исчисляется
            десятилетиями или даже сотнями лет
          </li>
          <li>
            Гарантия качества: убедитесь, что компания предоставляет гарантию на выполненные работы
          </li>
        </ol>
        <br>
        <p>
          Примеры портретов на памятниках можно найти на нашем сайте в разделе "<a
          href="https://xn----7sbbi3adkojmfupe8q.xn--p1ai/gallery/">Наши работы</a>". Также можно обратиться к
          специалистам в офисах компании "Акрополь", которые смогут продемонстрировать примеры своих работ.
        </p>

      </div>
    </div>
  </section>

  <section class="service-content">
    <div class="service-content__container">
      <div class="service-content__inner">
        <h2 class="service-content__title _title-h2">Портретная плитка на цветные и светлые камни</h2>
        <div class="service-content__row">
          <div class="service-content__col">
            <img src="{% static 'theme/mb/images/portretnaya-plitka.jpg' %}" alt="Преимущества гравировки станком"
                 title="Преимущества гравировки станком" class=""/>
          </div>
          <div class="service-content__col">
            <div class="service-content__text _text">
              <div class="hidden_content">
                <p>Памятники и надгробия, выполненные из базальта с выгравированными портретами, создают впечатляющий
                  эффект. Рисунок наносится на подготовленную и отполированную плитку, которая затем прочно фиксируется
                  в
                  нише памятника.
                </p>
                <br>
                <p>
                  <strong>
                    Преимущества портретной плитки из базальта:
                  </strong>
                </p>
                <br>
                <ul>
                  <li>
                    <strong>Выразительность:</strong> Базальт позволяет создавать четкие и контрастные изображения
                    благодаря светлому излому камня
                  </li>
                  <li>
                    <strong>Универсальность:</strong> Подходит для любых изображений и надписей, что делает его
                    идеальным
                    для создания портретов
                  </li>
                  <li>
                    <strong>Долговечность:</strong> Базальт устойчив к внешним воздействиям, что гарантирует сохранение
                    изображения на долгие годы
                  </li>
                  <li>
                    <strong>Эстетическая привлекательность:</strong> Насыщенный черный цвет и однородность базальта
                    придают изделиям элегантный вид
                  </li>
                  <li>
                    <strong>Универсальность:</strong> Из плитки можно вырезать любую форму: квадрат,овал,сердце,любые
                    произвольные формы по вашему рисунку
                  </li>
                </ul>
                <br>
                <p>
                  <strong>Процесс создания портретной плитки:</strong>
                </p>
                <br>
                <ol>
                  <li><strong>Подготовка поверхности:</strong> Плитка тщательно очищается и полируется</li>
                  <li><strong>Нанесение рисунка:</strong> С помощью специального оборудования рисунок наносится на
                    поверхность плитки
                  </li>
                  <li>
                    <strong>Гравировка:</strong> Рисунок углубляется в поверхность камня с помощью гравировального
                    инструмента
                  </li>
                  <li>
                    <strong>Финальная обработка:</strong> После гравировки плитка снова полируется, чтобы добиться
                    идеального блеска и четкости изображения
                  </li>
                </ol>
                <br>
                <p>
                  <strong>Заказать портрет на плитке:</strong>
                </p>
                <p>
                  Если вы хотите заказать портрет на плитке, мы предлагаем качественное и быстрое выполнение работы. Вы
                  можете забрать или заказать доставку готового изделия и установить его самостоятельно или доверить
                  установку мастерам компании Акрополь. Это будет недорого и займет минимум времени.
                </p>
              </div>
            </div>
            <div class="service-content__buttons">
              <button type="button" class="service-content__btn _btn" data-popup="more">Подробнее</button>
              <a href="https://xn----7sbbi3adkojmfupe8q.xn--p1ai/gallery/" class="service-content__btn _btn">Наши
                работы</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="service-content">
    <div class="service-content__container">
      <div class="service-content__inner">
        <h2 class="service-content__title _title-h2">Сусальное золото</h2>
        <div class="service-content__row">
          <div class="service-content__col">
            <img src="{% static 'theme/mb/images/susalnoe.jpg' %}" alt="Преимущества ручной гравировки"
                 title="Преимущества ручной гравировки"/>
          </div>
          <div class="service-content__col">
            <div class="service-content__text _text">
              <div class="hidden_content">
                <p>
                  Это тонкий слой чистого золота, который используется для декорирования памятников, надгробий и других
                  мемориальных изделий. Оно придаёт изделиям роскошный и благородный вид, символизируя вечную память и
                  уважение
                </p>
                <br>
                <p>
                  <strong>
                    Преимущества использования сусального золота:
                  </strong>
                </p>
                <br>
                <ul>
                  <li>
                    <strong>Эстетическая ценность:</strong> Золото придаёт памятнику особую красоту и элегантность,
                    делая его центром внимания
                  </li>
                  <li>
                    <strong>Долговечность:</strong> Золото не тускнеет и не теряет своего блеска, сохраняя память о
                    близком человеке на долгие годы
                  </li>
                  <li>
                    <strong>Универсальность:</strong> Золото можно использовать для создания различных декоративных
                    элементов, от простых надписей до сложных рисунков
                  </li>
                </ul>
                <br>
                <p>
                  <strong>Примеры работ с сусальным золотом:</strong>
                </p>
                <br>
                <ol>
                  <li>
                    <strong>Памятные надписи:</strong> Золотые буквы на памятнике создают ощущение значимости
                  </li>
                  <li>
                    <strong>Полноценные рисунки:</strong> Мастера могут изобразить на памятнике цветы, венки, кресты и
                    другие символы, подчёркивающие индивидуальность и характер усопшего
                  </li>
                  <li>
                    <strong>Гравировка:</strong> Рисунок углубляется в поверхность камня с помощью гравировального
                    инструмента
                  </li>
                </ol>
                <br>
                <p>
                  <strong>Процесс работы с сусальным золотом:</strong>
                </p>
                <br>
                <ol>
                  <li>
                    <strong>Подготовка поверхности:</strong> Поверхность памятника тщательно очищается и шлифуется
                  </li>
                  <li>
                    <strong>Нанесение клея:</strong> Специальный клей наносится на поверхность, чтобы сусальное золото
                    лучше держалось
                  </li>
                  <li>
                    <strong>Наклеивание золота:</strong> Тонкие золотые листы аккуратно наклеиваются на подготовленную
                    поверхность, создавая ровное и блестящее покрытие
                  </li>
                  <li>
                    <strong>Полировка:</strong> После наклеивания золото полируется, чтобы достичь максимального блеска
                  </li>
                </ol>
              </div>
            </div>
            <div class="service-content__buttons">
              <button type="button" class="service-content__btn _btn" data-popup="more">Подробнее</button>
              <a href="https://xn----7sbbi3adkojmfupe8q.xn--p1ai/gallery/" class="service-content__btn _btn">Наши
                работы</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="service-content">
    <div class="service-content__container">
      <div class="service-content__inner">
        <h2 class="service-content__title _title-h2">Портреты на стекле</h2>
        <div class="service-content__row">
          <div class="service-content__col">
            <img src="{% static 'theme/mb/images/portret.jpg' %}" alt="Преимущества ручной гравировки"
                 title="Преимущества ручной гравировки"/>
          </div>
          <div class="service-content__col">
            <div class="service-content__text _text">
              <div class="hidden_content">
                <p>
                  Оформление надгробия портретом усопшего – это традиционное решение, которое, кстати, характерно далеко
                  не для всех стран. Это направление постоянно развивается и совершенствуется. На смену обычной
                  фотокерамике пришли новые технологии. Фото на стекле – одна из них. Метод нанесения изображения
                  керамическими красками с последующим их спеканием считается самым передовым. Потому что портрет,
                  созданный подобным способом, не утратит своих первоначальных характеристик на протяжении длительного
                  времени
                </p>
                <br>
                <p>
                  <strong>
                    Преимущества и особенности фото на стекле:
                  </strong>
                </p>
                <br>
                <ul>
                  <li>
                    Эксклюзивный внешний вид. Стекло – материал с выдающимися эстетическими характеристиками, благодаря
                    своей прозрачности, блеску и «воздушности». Оригинальные и изысканные памятники всегда заставляют
                    обратить на себя внимание, и они одинаково хорошо смотрятся в любое время года
                  </li>
                  <li>
                    Несколько способов монтажа. Для фиксации портрета к памятнику чаще всего используется специальный
                    клей. Но наибольшего визуального эффекта можно добиться путём установки портрета в просвет
                    памятника, для чего используются элементы крепежа. Если предполагается установка портрета в сквозную
                    нишу, то применяется метод двусторонней печати, благодаря чему он эффектно смотрится, как с тыльной,
                    так и с лицевой стороны памятника
                  </li>
                  <li>
                    Изображение, нанесённое методом фотокерамической печати, отличается невероятной устойчивостью к
                    внешним воздействиям. Ему не страшны солнечные лучи, потому что краска не имеет свойства выгорать
                    под воздействием ультрафиолета. Поскольку изображение нанесено с изнаночной стороны, то оно надёжно
                    защищено толщей закалённого стекла – от любых неблагоприятных факторов
                  </li>
                  <li>
                    Отсутствие необходимости обеспечения специального ухода. Фото на стекле не нуждается в особом
                    внимании. Единственное, что нужно периодически делать - протирать пыль с поверхности и удалять
                    другие загрязнения общедоступным способами. Средства бытовой химии, содержащие абразивы,
                    использовать нельзя, потому что они могут поцарапать стеклянную поверхность
                  </li>
                  <li>
                    Изображение наносится на обесцвеченное стекло оптивайт, которое обладает абсолютной прозрачностью по
                    причине незначительного содержания примесей железа в составе. Стекло оптивайт позволяет сохранить
                    чёткость рисунка
                  </li>
                </ul>
              </div>
            </div>
            <div class="service-content__buttons">
              <button type="button" class="service-content__btn _btn" data-popup="more">Подробнее</button>
              <a href="https://xn----7sbbi3adkojmfupe8q.xn--p1ai/gallery/" class="service-content__btn _btn">Наши
                работы</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="service-content">
    <div class="service-content__container">
      <div class="service-content__inner">
        <h2 class="service-content__title _title-h2">Металокерамика</h2>
        <div class="service-content__row">
          <div class="service-content__col">
            <img src="{% static 'theme/mb/images/metalokeramika.jpg' %}" alt="Преимущества ручной гравировки"
                 title="Преимущества ручной гравировки"/>
          </div>
          <div class="service-content__col">
            <div class="service-content__text _text">
              <div class="hidden_content">
                <p>
                  <strong>Для создания портрета из металлокерамики на памятнике важно учитывать несколько ключевых
                    моментов:</strong>
                </p>
                <br>
                <ul>
                  <li>
                    <strong>Материал и техника:</strong> металлокерамика сочетает прочность металла и эстетику керамики.
                    Она устойчива к
                    погодным условиям и механическим повреждениям, что делает её идеальным материалом для памятников
                  </li>
                  <li>
                    <strong>Качество изображения:</strong> чем выше разрешение фотографии, тем точнее будет
                    воспроизведён портрет. Важно, чтобы фотография была чёткой и детализированной
                  </li>
                  <li>
                    <strong>Профессионализм мастера:</strong> выбирайте опытных специалистов, которые знают все тонкости
                    работы с металлокерамикой и имеют опыт в создании портретов
                  </li>
                  <li>
                    <strong>Сроки выполнения:</strong> уточните сроки выполнения заказа. Обычно изготовление занимает от
                    нескольких дней до нескольких недель
                  </li>
                  <li>
                    <strong>Стоимость:</strong> цена может варьироваться в зависимости от сложности работы, размера
                    портрета и используемых материалов
                  </li>
                  <li>
                    <strong>Гарантия качества:</strong> убедитесь, что компания предоставляет гарантию на выполненную
                    работу
                  </li>
                </ul>
                <br>
                <p>
                  Если вы живёте вне Томска, но планируете сделать заказ, мы ручаемся за качественное выполнение работы.
                  Вы можете забрать готовое изделие и установить его самостоятельно или доверить установку нам. Это
                  обойдется недорого и займет минимум времени
                </p>
              </div>
            </div>
            <div class="service-content__buttons">
              <button type="button" class="service-content__btn _btn" data-popup="more">Подробнее</button>
              <a href="https://xn----7sbbi3adkojmfupe8q.xn--p1ai/gallery/" class="service-content__btn _btn">Наши
                работы</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "../../components/map.html" %}
</div>
</body>
{% endblock %}