{% extends "base.html" %}
{% load shop_tags %}
{% load thumbnail %}
{% load static %}
{% block title %}
Гранитные памятники в Томске – заказать памятник на могилу
{% endblock %}
{% block description %}
Купить гранитный памятник на могилу в Томске. Широкий выбор моделей, доступные цены, профессиональная установка. Изготовление, доставка, монтаж – под ключ!
{% endblock %}
{% block keywords %}
гранитные памятники,гранитный памятник томск,гранитный памятник
{% endblock %}

{% block content %}
<main class="page">
  <section class="category-details">
    <div class="category-details__container">
      <div class="category-details__head">
        <h1 class="category-details__title _title">Гранитные памятники в Томске</h1>
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1"/>
          </a>
          <a href="{% url 'category' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Каталог
            <meta itemprop="position" content="2"/>
          </a>
          <span itemprop="name" class="breadcrumbs__item">
          Гранитные памятники
          <meta itemprop="position" content="3"/>
        </span>
        </div>
      </div>
      <div class="category-details__row-onecol">
        {% comment %}
        <div class="category-details__col" id="filter-category">
          <button type="button" class="close popup__close" id="close-filter"><span></span></button>
          <form method="GET" class="filter-form">
            {% for field in filter_form %}
            <div class="filter__body">
              <label class="filter__label">{{ field.label }}</label>
              <div class="filter__inner">
                {% for checkbox in field %}
                <div class="form__group-boolean">
                  {{ checkbox.tag }}
                  <label class="checkbox-label" for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            <button type=" submit" class="filter__submit">Фильтровать</button>
          </form>
        </div>
        {% endcomment %}
        <div class="category-details__col">
          <button type="button" class="category-details__filter"><i
            class="fa-solid fa-arrow-up-wide-short"></i></button>
          {% if products %}
          <div class="index-catalog__cards">{% for product in products %}
            {% include "../../includes/card.html" with product=product %} {% endfor %}
          </div>
          {% else %}
          <div class="empty-info">
            <p>Товара нет</p>
          </div>
          {% endif %}
        </div>
      </div>
      {% if products.paginator.count > 15 %}
      <div class="pagging">
        <a
          href="{% if products.has_previous %}?{% chenge_params page=products.previous_page_number %}{% else %}#{% endif %}"
          class="pagging__arrow {% if not products.has_previous%}disabled{% endif %}">«</a>
        <ul class="pagging__list">
          {% for page in products.paginator.page_range %}
          {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
          <li>
            <a href="?{% chenge_params page=page %}"
               class="pagging__item {% if products.number == page %}_active{% endif %}">{{page}}</a>
          </li>
          {% endif %} {% endfor %}
        </ul>
        <a href="{% if products.has_next %}?{% chenge_params page=products.next_page_number %}{% else %}#{% endif %}"
           class="pagging__arrow">»</a>
      </div>
      {% endif %}
    </div>
  </section>
  <div class="category-detail__text">
    <div class="category-detail__container">
      <div class="text">
        <p>
          Изготавливаем и устанавливаем гранитные памятники в Томске. В наличии классические и эксклюзивные модели
          разной
          формы и размера. Работаем с прочным, морозостойким гранитом, который сохраняет внешний вид десятилетиями.
        </p>
        <p><strong>Наши услуги:</strong></p>
        <ul>
          <li>
            <strong>Изготовление памятников стандартных и индивидуальных размеров</strong> – мы подберём оптимальные
            параметры памятника в зависимости от ваших пожеланий и особенностей участка.
          </li>
          <li>
            <strong><a href="/service/gravirovka/">Гравировка</a>, фотокерамика, художественное оформление</strong> –
            создание уникальных надписей, изображений и декоративных элементов, которые делают памятник действительно
            персонализированным.
          </li>
          <li>
            <strong><a href="/delivery/">Доставка</a> и установка на кладбище в Томске и области</strong> – мы
            доставляем памятники и осуществляем их установку, соблюдая все требования, чтобы памятник был установлен
            надёжно и аккуратно.
          </li>
          <li>
            <strong><a href="/blog/blagoustroystvo-mogil-uhod-za-pamytiyu-o-blizkih/">Благоустройство
              могилы</a></strong> – укладка плитки, установка оград, создание красивых и долговечных элементов для
            украшения места захоронения.
          </li>
        </ul>
        <p>
          Оставьте заявку на сайте или свяжитесь с нами по телефону, и мы подберём для вас памятник, который будет
          соответствовать всем вашим требованиям. Мы рассчитаем стоимость памятника с установкой и поможем сделать
          выбор, который будет гармонично сочетаться с вашим представлением о достойном увековечении памяти.
        </p>
        <p>
          Пусть этот памятник станет символом уважения и любви, который сохранит память о вашем близком на долгие годы
        </p>
      </div>
    </div>
  </div>

</main>
{% endblock content %}