{% extends 'admin_base.html' %} {% load shop_tags %} {% load thumbnail %} {% load static %} {% block body %}

<div class="page">
  <div class="page__inner">
    <div class="page__top">
      <h1 class="page__title">Товары</h1>
      <ul class="admin-breadcrumbs">
        <li><a href="{% url 'admin' %}">Панель управления</a></li>
        <li><a href="{% url 'admin_product' %}">Список товаров</a></li>
      </ul>
    </div>
    <div class="page__content content-page">
      <div class="content-page__action">
        <div class="content-page__showing showing">
          <p>Показано</p>
          <select name="view-elem" id="view-elem">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="120">120</option>
          </select>
          <p>элементов</p>
        </div>
<!--        <form method="get" action="/search/" class="form">-->
<!--          <input type="text" name="q" placeholder="Введите запрос..." class="form__controls">-->
<!--          <button type="submit" class="action-button">Поиск</button>-->
<!--        </form>-->
        <a href="{% url 'product_add' %}" class="action-button">Добавить новый</a>
<!--        <button type="button" class="action-button" data-popup="add">Добавить новый кнопка</button>-->
      </div>
      <div class="grid-items">
        {% for item in items %}
        <div class="grid-item">
          <div class="grid-item__image">
            {% if item.image %} {% thumbnail item.image "250x250" format="WEBP" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %} {% else%}
            <img src="{% static 'theme/mb/images/no-image.png' %}" alt="" />
            {% endif %}
          </div>
          <div class="grid-item__content">
            <a href="{{ item.get_absolute_url }}" class="grid-item__title">{{ item.name }} - {{ item.model }} - {{  item.get_absolute_url }}</a>
            <p>{{ item.price }} ₽</p>
            <div class="grid-item__action">
              <a href="{% url 'product_edit' item.pk %}">Изменить</a>
              <a href="{% url 'product_delete' item.pk %}">Удалить</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="pagging">
        <div class="pagging__inner">
          <a
            href="{% if items.has_previous %}?{% chenge_params page=items.previous_page_number %}{% else %}#{% endif %}"
            class="pagging__arrow {% if not items.has_previous%}disabled{% endif %}"
            >«</a
          >
          <ul class="pagging__list">
            {% for page in items.paginator.page_range %} {% if page >= items.number|add:-2 and page <= items.number|add:2 %}
            <li>
              <a href="?{% chenge_params page=page %}" class="pagging__item {% if items.number == page %}_active{% endif %}">{{page}}</a>
            </li>
            {% endif %} {% endfor %}
          </ul>
          <a href="{% if items.has_next %}?{% chenge_params page=items.next_page_number %}{% else %}#{% endif %}" class="pagging__arrow">»</a>
        </div>
      </div>
    </div>

  </div>
</div>


<div id="add" aria-hidden="true" class="popup {% if show_modal %}popup_show{% endif %}">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__top">
        <button data-close type="button" class="popup__close close"></button>
      </div>
      <form action="." method="POST" class="form" enctype="multipart/form-data">
        <div class="page__head">
          <div class="page__head-tab">
            <button type="button" data-name="basic" class="page__head-btn _active">Основные</button>
            <button type="button" data-name="seo" class="page__head-btn">Поля SEO</button>
            <button type="button" data-name="char" class="page__head-btn">Характеристики</button>
          </div>
          <div class="page__head-right">
            <a href="{% url 'product_add' %}">Добавить новый</a>
            <button type="submit" class="form__btn">
              <img src="{% static 'theme/mb/images/admin/save.svg' %}" alt="" />
              Сохранить
            </button>
          </div>
        </div>
        {% csrf_token %}
        <div class="page-content _show" id="basic">
          <div class="page-content__row">
            <div class="page-content__col">
              {% if form.name %}
              <div class="form__group">
                <label for="{{ form.name.id_for_label }}" class="form__controls-label">Наименование: </label>
                {{ form.name }} {{ form.name.errors }}
              </div>
              {% endif %}
              <div class="form__grid">
                {% if form.model %}
                <div class="form__group">
                  <label for="{{ form.model.id_for_label }}" class="form__controls-label">Модель: </label>
                  {{ form.model }} {{ form.model.errors }}
                </div>
                {% endif %}
                {% if form.article %}
                <div class="form__group">
                  <label for="{{ form.article.id_for_label }}" class="form__controls-label">Артикул: </label>
                  {{ form.article }} {{ form.article.errors }}
                </div>
                {% endif %}
                {% if form.price %}
                <div class="form__group">
                  <label for="{{ form.price.id_for_label }}" class="form__controls-label">
                    <span>*</span>
                    Цена :
                  </label>
                  {{ form.price }} {{ form.price.errors }}
                </div>
                {% endif %}
              </div>
              {% if form.description %}
              <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__controls-label"> Полное описание : </label>
                {{ form.description }} {{ form.description.errors }}
              </div>
              {% endif %}
              {% if image_form.src %}
              <div class="form__group form__group-image">
                <label for="{{ image_form.src.id_for_label }}" class="form__controls-label"> Дополнительные изображения : </label>
                {{ image_form.src }} {{ image_form.src.errors }}
              </div>
              {% endif %}
              <div class="product-field"></div>
              <div class="product-block__plus form__btn">Добавить изрбражение</div>
              <div class="form__grid">
                {% if form.sale_price %}
                <div class="form__group">
                  <label for="{{ form.sale_price.id_for_label }}" class="form__controls-label">
                    <span>*</span>
                    Цена со скидкой :
                  </label>
                  {{ form.sale_price }} {{ form.sale_price.errors }}
                </div>
                {% endif %}
                {% if form.quantity_purchase %}
                <div class="form__group">
                  <label for="{{ form.quantity_purchase.id_for_label }}" class="form__controls-label"> Количество купленных : </label>
                  {{ form.quantity_purchase }} {{ form.quantity_purchase.errors }}
                </div>
                {% endif %}
                {% if form.discount %}
                <div class="form__group">
                  <label for="{{ form.discount.id_for_label }}" class="form__controls-label"> Скидка в (<span>% :</span>) </label>
                  {{ form.discount }} {{ form.discount.errors }}
                </div>
                {% endif %}
                {% if form.quantity %}
                <div class="form__group">
                  <label for="{{ form.slug.id_for_label }}" class="form__controls-label"> Количество товара в наличии : </label>
                  {{ form.quantity }} {{ form.quantity.errors }}
                </div>
                {% endif %}
              </div>
            </div>
            <div class="page-content__col">
              {% if form.slug %}
              <div class="form__group">
                <label for="{{ form.slug.id_for_label }}" class="form__controls-label">
                  <span>*</span>
                  URL :
                </label>
                {{ form.slug }} {{ form.slug.errors }}
              </div>
              {% endif %}
              {% if form.order_by %}
              <div class="form__group">
                <label for="{{ form.order_by.id_for_label }}" class="form__controls-label">
                  <span>*</span>
                  Сортировка :
                </label>
                {{ form.order_by }} {{ form.order_by.errors }}
              </div>
              {% endif %}
              {% if form.category %}
              <div class="form__group">
                <label for="{{ form.category.id_for_label }}" class="form__controls-label">Выбор категории :</label>
                {{ form.category }} {{ form.category.errors }}
              </div>
              {% endif %}
              {% if form.image %}
              <div class="form__group form__group-image">
                <label for="{{ form.image.id_for_label }}" class="form__controls-label">Выбор изображения товара :</label>
                {{ form.image }} {{ form.image.errors }}
              </div>
              {% endif %}
              {% if form.instance.image %}
              <a href="{{ form.instance.image.url }}" target="_blank">
                <img src="{{ form.instance.image.url }}" alt="Миниатюра изображения" style="max-width: 100px; max-height: 100px" />
              </a>
              {% endif %}
              {% if form.latest %}
              <div class="form__group-checkbox">
                {{ form.latest }} {{ form.latest.errors }}
                <label for="{{ form.latest.id_for_label }}" class="form__controls-label"> Новинка ? :</label>
              </div>
              {% endif %}
              {% if form.type_image %}
              <div class="form__group-checkbox">
                {{ form.type_image }} {{ form.type_image.errors }}
                <label for="{{ form.type_image.id_for_label }}" class="form__controls-label">Отображение картинки ? : </label>
              </div>
              {% endif %}
              {% if form.catalog %}
              <div class="form__group-checkbox">
                {{ form.catalog }} {{ form.catalog.errors }}
                <label for="{{ form.catalog.id_for_label }}" class="form__controls-label">Выводить в каталог ? : </label>
              </div>
              {% endif %}
              {% if form.status %}
              <div class="form__group-checkbox">
                {{ form.status }} {{ form.status.errors }}
                <label for="{{ form.status.id_for_label }}" class="form__controls-label"> Опубликовать ? :</label>
              </div>
              {% endif %}
              {% if form.related_products %}
              <div class="form__group">
                <label for="{{ form.related_products.id_for_label }}" class="form__controls-label">Сопутствующий товар :</label>
                {{ form.related_products }} {{ form.related_products.errors }}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="page-content" id="seo">
          <!-- SEO страницы -->
          <div class="page-content__row">
            <div class="page-content__onecol">
              <div class="form__group">
                <label for="{{ form.meta_h1.id_for_label }}" class="form__controls-label"> Заголовок h1 : </label>
                {{ form.meta_h1 }} {{ form.meta_h1.errors }}
              </div>
              <div class="form__group">
                <label for="{{ form.meta_title.id_for_label }}" class="form__controls-label"> Мета заголовок : </label>
                {{ form.meta_title }} {{ form.meta_title.errors }}
              </div>
              <div class="form__group">
                <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label">
                  Мета описание :
                  <div class="meta-lenght">0</div>
                </label>
                {{ form.meta_description }} {{ form.meta_description.errors }}
              </div>
              <div class="form__group">
                <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label"> Мета keywords : </label>
                {{ form.meta_keywords }} {{ form.meta_keywords.errors }}
              </div>
            </div>
          </div>
        </div>
        <div class="page-content" id="char">
          <!-- Характеристики товара страницы -->
          <div class="page-content__row">
            <div class="page-content__onecol">
              <div class="page-content__char" id="paste-char">
                {% for char in chars %}
                <div class="form__group-char">
                  <input type="text" name="old_char_id" value="{{ char.id }}" hidden />
                  <label for="{{ form.category.id_for_label }}" class="form__controls-label">Название характеристики :</label>
                  <select name="old_text_name" class="form__controls" placeholder="Название характеристики" id="id_name">
                    <option value="{{ char.char_name.id }}">{{ char.char_name.text_name }}</option>
                    {% for ch in all_chars %}
                    <option value="{{ ch.id }}">{{ ch.text_name }}</option>
                    {% endfor %}
                  </select>
                  <label for="id_char_value" class="form__controls-label">Значение :</label>
                  <input type="text" name="old_char_value" class="form__controls" placeholder="Значение" required="" id="id_char_value" value="{{ char.char_value }}" />
                  <a href="" class="form__remove"> Удалить </a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <button type="button" id="add-char" class="form__plus">Добавить характеристику</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
