<div id="subdomain" aria-hidden="true" class="popup">
  <div class="popup__wrapper">
    <div class="popup__content">
      <button data-close type="button" class="popup__close sssss"></button>
      <h2 class="popup__subdomain-title">Выбирете город</h2>
      <form action="" class="form">
        <input type="search" id="search-city" class="popup__search-city" name="search-city" placeholder="Поиск города" />
      </form>
      <div class="popup__subdomain-grid">
        {% for subdomain in subdomains %}
        <a href="#" class="popup__subdomain-link">{{ subdomain.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
