{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}
{% block title %}{{ home_page.meta_title }}{% endblock %}
{% block description %}{{ home_page.meta_description }}{% endblock %}
{% block keywords %}{{ home_page.meta_keywords }}{% endblock %}
{% block content %}

<main class="page">
  <section class="main">
    {% thumbnail home_page.banner "1920x1080" format="WEBP" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ home_page.title }}"
         title="{{ home_page.title }}" class="index-stock__item-img"/>
    {% endthumbnail %}
    <div class="main__container">
      <div class="main__top top-main">
        <div class="top-main__left">
          <div class="top-main__item">
            <div class="top-main__address">{{ site_settings.address}}</div>
            <a href="tel:{{ site_settings.phone}}" class="top-main__phone">
              {{ site_settings.phone}}
              <img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="Заказать звонок"
                   title="Заказать звонок"/>
            </a>
          </div>
          <div class="top-main__item">
            <div class="top-main__address">{{ site_settings.address_two}}</div>
            <a href="tel:{{ site_settings.phone_two}}" class="top-main__phone">
              {{ site_settings.phone_two }}
              <img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="Заказать звонок"
                   title="Заказать звонок"/>
            </a>
          </div>
        </div>
        <div class="top-main__middle">
          {% if site_settings.logo %}
          <a href="/" class="top-main__logo">
            <img src="{{ site_settings.logo.url }}" alt="Логотип" title="Логотип"/>
            <span>Основан в 1989 г.</span>
          </a>
          {% endif %}
        </div>
        <div class="top-main__right">
          <div class="top-main__right-row">
            <button class="subdomain-button" id="subdomain-button" data-popup="subdomain">
              <img src="{% static 'theme/mb/images/icon/location.svg' %}" alt="Адрес" title="Адрес"/>
              <span id="city">Томск</span>
            </button>
          </div>
          <div class="top-main__right-row">
            <button type="button" class="top-main__callback" data-popup="callback">
              Заказать звонок
              <img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="Заказать звонок"
                   title="Заказать звонок"/>
            </button>
            <button type="button" class="top-main__callback show-cart" id="show-cart">
              Корзина
              <img src="{% static 'theme/mb/images/icon/cart.svg' %}" alt="Иконка корзины" title="Иконка корзины"/>

              {% user_carts request as carts %} {% if carts %}
              <span class="count-product-cart" id="count-goods">{{ carts.total_quantity }}</span>
              {% endif %}
            </button>
          </div>
        </div>
      </div>
      <div class="main__content content-main">
        <h1 class="content-main__title">Изготовим <br>и установим<span><br> надгробный памятник</span></h1>
        <p class="content-main__subtitle">Рассрочка до 12 месяцев, без процентов, банков, комиссий</p>
        <button type="button" data-popup="consultation-form"
                data-order="Консультаци по рассрочке" class="content-main__link _btn">Получить консультацию</button>
      </div>
    </div>
  </section>

  <section class="index-stock">
    <div class="index-stock__container">
      <div class="index-stock__grid">
        <a href="{% url 'gallery' %}" class="index-stock__item index-stock__item--first">
          <img src="{% static 'theme/mb/images/1.jpg' %}" alt="Памятники со скидкой" title="Памятники со скидкой"
               class="index-stock__item-img"/>
                    <h2 class="index-stock__item-title">Наши работы</h2>
          <!--          <p class="index-stock__item-discount"></p>-->
        </a>
        {% if category_gallery %}
        {% for gal_cat in category_gallery %}
        <a href="{{ gal_cat.get_absolute_url }}" class="index-stock__item">
          {% if gal_cat.image %}
          {% thumbnail gal_cat.image "680x300" format="WEBP" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ gal_cat.name }}"
               title="{{ gal_cat.name }}" class="index-stock__item-img"/>
          {% endthumbnail %}
          {% else %}
          <img src="{% static 'theme/mb/images/no-image.png' %}" alt="{{ gal_cat.name }}" title="{{ gal_cat.name }}"
               class="index-stock__item-img"/>
          {% endif %}
          <h2 class="index-stock__item-title">{{ gal_cat.name|safe }}</h2>
        </a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>

  <section class="index-work">
    <div class="index-work__container">
      <div class="index-work__inner">
        <div class="index-work__slider swiper">
          <h2 class="index-work__title">Наши работы</h2>
          <div class="index-work__wrapper swiper-wrapper">
            {% if gallery %}
            {% for image in gallery %}
            <a href="{{ gallery.image.url }}" class="index-work__slide swiper-slide"
               data-gall="{{ image.category.slug }}">
              {% thumbnail image.image "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ image.name }}"
                   title="{{ image.name }}"/>
              {% endthumbnail %}
            </a>
            {% endfor %}
            {% else %}
            No image
            {% endif %}

          </div>
          <div class="index-work__next swiper-button-next"></div>
          <div class="index-work__prev swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="reviews-gis">
          <iframe id="big_light_70000001020920164" frameborder="0" width="" height="824px"
                  sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation">

          </iframe>
          <script
            type="text/javascript">((r, p) => {
            const l = document.getElementById(r);
            l.contentWindow.document.open(), l.contentWindow.document.write(decodeURIComponent(escape(atob(p)))), l.contentWindow.document.close()
          })("big_light_70000001020920164", "PGhlYWQ+PHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiPgogICAgd2luZG93Ll9fc2l6ZV9fPSdiaWcnOwogICAgd2luZG93Ll9fdGhlbWVfXz0nbGlnaHQnOwogICAgd2luZG93Ll9fYnJhbmNoSWRfXz0nJwogICAgd2luZG93Ll9fb3JnSWRfXz0nNzAwMDAwMDEwMjA5MjAxNjQnCiAgIDwvc2NyaXB0PjxzY3JpcHQgY3Jvc3NvcmlnaW49ImFub255bW91cyIgdHlwZT0ibW9kdWxlIiBzcmM9Imh0dHBzOi8vZGlzay4yZ2lzLmNvbS93aWRnZXQtY29uc3RydWN0b3IvYXNzZXRzL2lmcmFtZS5qcyI+PC9zY3JpcHQ+PGxpbmsgcmVsPSJtb2R1bGVwcmVsb2FkIiBjcm9zc29yaWdpbj0iYW5vbnltb3VzIiBocmVmPSJodHRwczovL2Rpc2suMmdpcy5jb20vd2lkZ2V0LWNvbnN0cnVjdG9yL2Fzc2V0cy9kZWZhdWx0cy5qcyI+PGxpbmsgcmVsPSJzdHlsZXNoZWV0IiBjcm9zc29yaWdpbj0iYW5vbnltb3VzIiBocmVmPSJodHRwczovL2Rpc2suMmdpcy5jb20vd2lkZ2V0LWNvbnN0cnVjdG9yL2Fzc2V0cy9kZWZhdWx0cy5jc3MiPjwvaGVhZD48Ym9keT48ZGl2IGlkPSJpZnJhbWUiPjwvZGl2PjwvYm9keT4=")</script>
        </div>
      </div>
  </section>

  <section class="index-catalog">
    <div class="index-catalog__container">
      <h2 class="index-catalog__title">Каталог</h2>
      <div class="index-catalog__inner">
        <div class="index-catalog__category">
          {% if category_menu %} {% for category in category_menu %}
          <a href="{{ category.get_absolute_url }}" class="index-catalog__btn"> {{ category.name }} </a>
          {% endfor %} {% endif %}
        </div>
        <div class="index-catalog__content">
          <div class="index-catalog__cards">
            {% if products %} {% for product in products %} {% include '../includes/card.html' with product=product %}
            {% endfor %} {% else %}
            <div class="empty-info">
              <p>Товара нет</p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% comment %}
  <section class="index-service">
    <div class="index-service__container">
      <h2 class="_title index-service__title">Оказываемые виды услуг</h2>

      <div class="index-service__cards">
        <a href="#" class="index-service__card">
          <img src="{% static 'theme/mb/images/service-1.jpg' %}" alt="Изготовление памятников из гранита и мрамора"
               title="Изготовление памятников из гранита и мрамора"/>
          <span class="index-service__count">01</span>
          <p class="index-service__title">Изготовление памятников из гранита и мрамора</p>
        </a>
        <a href="#" class="index-service__card">
          <span class="index-service__count">02</span>
          <img src="{% static 'theme/mb/images/service-2.jpg' %}" alt="Установка памятников"
               title="Установка памятников"/>
          <p class="index-service__title">Установка памятников</p>
        </a>
        <a href="#" class="index-service__card">
          <span class="index-service__count">03</span>
          <img src="{% static 'theme/mb/images/service-3.jpg' %}" alt="Гравировка на памятниках"
               title="Гравировка на памятниках"/>
          <p class="index-service__title">Гравировка на памятниках</p>
        </a>
        <a href="#" class="index-service__card">
          <span class="index-service__count">04</span>
          <img src="{% static 'theme/mb/images/service-4.jpg' %}" alt="Благоустройство мест захоронения"
               title="Благоустройство мест захоронения"/>
          <p class="index-service__title">Благоустройство мест захоронения</p>
        </a>
      </div>
    </div>
  </section>
  {% endcomment %}

  {% comment %}
  <section class="index-reviews">
    <div class="index-reviews__container">
      <div class="index-reviews__inner">
        <div class="index-reviews__info">
          <p class="index-reviews__text">Мы будем очень рады получить Вашу обратную связь</p>
          <a
            href="https://2gis.ru/tomsk/search/%D0%B0%D0%BA%D1%80%D0%BE%D0%BF%D0%BE%D0%BB%D1%8C%20%D1%82%D0%BE%D0%BC%D1%81%D0%BA/firm/70000001020920165/84.969766%2C56.492936/tab/reviews?m=84.987737%2C56.48199%2F12.22"
            class="reviews__btn _btn" target="_blank">Оставить отзыв</a>
        </div>
        <div class="index-reviews__reviews reviews">
          <div class="reviews__slider swiper">
            <div class="reviews__wrapper swiper-wrapper">
              {% if reviews %} {% for review in reviews %}
              <div class="reviews__slide swiper-slide">
                <p class="reviews__text">{{ review.text }}</p>
                <p class="reviews__name">{{ review.name }}</p>
              </div>
              {% endfor %} {% endif %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>


    </div>
  </section>
  {% endcomment %}
  {% include "../includes/contact-block.html" %} {% include "../components/map.html" %}
</main>
{% endblock %}