{% extends 'base.html' %} {% load static %}{% load carts_tag %}{% load thumbnail %}{% block content %}
<main class="page">
  <section class="main">
    <img src="{% static 'theme/mb/images/bg-main.jpg' %}" alt="" class="main__bg" />
    <div class="main__container">
      <div class="main__top top-main">
        <div class="top-main__left">
          <div class="top-main__item">
            <div class="top-main__address">Яковлева, 41а</div>
            <a href="tel:+73822210915" class="top-main__phone"
              >+7(3822)-210-915
              <img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="" />
            </a>
          </div>
          <div class="top-main__item">
            <div class="top-main__address">Демьяна Бедного, 16а ст1</div>
            <a href="tel:+73822224018" class="top-main__phone"
              >+7(3822)-224-018
              <img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="" />
            </a>
          </div>
        </div>
        <div class="top-main__middle">
          <a href="/" class="top-main__logo">
            <img src="{% static 'theme/mb/images/logo.png' %}" alt="" />
          </a>
        </div>
        <div class="top-main__right">
          <div class="top-main__right-row">
            <button class="subdomain-button" id="subdomain-button" data-popup="subdomain">
              <img src="{% static 'theme/mb/images/icon/location.svg' %}" alt="" />
              <span id="city">Томск</span>
            </button>
          </div>
          <div class="top-main__right-row">
            <button type="button" class="top-main__callback" data-popup="callback">
              Заказать звонок
              <img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="" />
            </button>
            <button type="button" class="top-main__callback show-cart" id="show-cart">
              Корзина
              <img src="{% static 'theme/mb/images/icon/cart.svg' %}" alt="" />
              {% user_carts request as carts %} {% if carts %}
              <span class="count-product-cart" id="count-goods">{{ carts.total_quantity }}</span>
              {% endif %}
            </button>
          </div>
        </div>
      </div>
      <div class="main__content content-main">
        <h1 class="content-main__title">Изготовим и установим <span>надгробный памятник в томске</span></h1>
        <a href="{% url 'category' %}" class="content-main__link _btn">Перейти в каталог</a>
      </div>
    </div>
  </section>

  <section class="index-stock">
    <div class="index-stock__container">
      <div class="index-stock__grid">
        <div class="index-stock__item index-stock__item--first">
          <img src="{% static 'theme/mb/images/arki.jpg' %}" alt="" class="index-stock__item-img" />
          <h2 class="index-stock__item-title">Арки со <br />скидкой</h2>
          <p class="index-stock__item-discount">20%</p>
        </div>
        <div class="index-stock__item">
          <img src="{% static 'theme/mb/images/svo.jpg' %}" alt="" class="index-stock__item-img" />
          <h2 class="index-stock__item-title">Памятники <br />солдатам <span>СВО</span></h2>
        </div>
        <div class="index-stock__item">
          <img src="{% static 'theme/mb/images/memorial.jpg' %}" alt="" class="index-stock__item-img" />
          <h2 class="index-stock__item-title">Мемориальные <br /><span>комплексы</span></h2>
        </div>
      </div>
    </div>
  </section>

  <section class="index-catalog">
    <div class="index-catalog__container">
      <h2 class="index-catalog__title">Каталог</h2>
      <div class="index-catalog__inner">
        <div class="index-catalog__category">
          {% if category_menu %} {% for category in category_menu %}
          <a href="{{ category.get_absolute_url }}" class="index-catalog__btn"> {{ category.name }} </a>
          {% endfor %} {% endif %}
        </div>
        <div class="index-catalog__content">
          <div class="index-catalog__cards">
            {% if products %} {% for product in products %} {% include '../includes/card.html' with product=product %} {% endfor %} {% else %}
            <div class="empty-info">
              <p>Товара нет</p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- <div class="pagging">
        <a href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">Дальше <img src="{% static 'theme/mb/images/icon/arrow-lomg.svg' %}" alt=""></a>
      </div> -->
    </div>
  </section>

  <section class="index-service">
    <div class="index-service__container">
      <h2 class="_title index-service__title">Оказываемые виды услуг</h2>

      <div class="index-service__cards">
        <a href="#" class="index-service__card">
          <img src="{% static 'theme/mb/images/service-1.jpg' %}" alt="" />
          <span class="index-service__count">01</span>
          <p class="index-service__title">Изготовление памятников из гранита и мрамора</p>
        </a>
        <a href="#" class="index-service__card">
          <span class="index-service__count">02</span>
          <img src="{% static 'theme/mb/images/service-2.jpg' %}" alt="" />
          <p class="index-service__title">Установка памятников</p>
        </a>
        <a href="#" class="index-service__card">
          <span class="index-service__count">03</span>
          <img src="{% static 'theme/mb/images/service-3.jpg' %}" alt="" />
          <p class="index-service__title">Гравировка на памятниках</p>
        </a>
        <a href="#" class="index-service__card">
          <span class="index-service__count">04</span>
          <img src="{% static 'theme/mb/images/service-4.jpg' %}" alt="" />
          <p class="index-service__title">Благоустройство мест захоронения</p>
        </a>
      </div>
    </div>
  </section>

  <section class="index-work">
    <div class="index-work__container">
      <h2 class="index-work__title">Наши работы</h2>
      <div class="index-work__links">
        {% if gallery_category %} {% for cat in gallery_category %}
        <a href="{{ cat.slug }}" class="{% if forloop.first %}_active {% endif %}">{{ cat.name }}</a>
        {% endfor %} {% endif %}
      </div>
      {% if gallery %} {% for gal_cat in gallery_category %}
      <div class="index-work__grid {% if forloop.first %}_active {% endif %}" id="{{ gal_cat.slug }}">
        {% for image in gallery %} {% if image.category.name == gal_cat.name %}
        <div class="index-work__item">
          {% thumbnail image.image "368x350" format="WEBP" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
          {% endthumbnail %}
        </div>
        {% endif %} {% endfor %}
      </div>
      {% endfor %} {% endif %}
    </div>
  </section>

  <section class="index-reviews">
    <div class="index-reviews__container">
      <div class="index-reviews__inner">
        <div class="index-reviews__info">
          <p class="index-reviews__text">Мы будем очень рады получить Вашу обратную связь</p>
          <button type="button" class="reviews__btn _btn" data-popup="reviews">Оставить отзыв</button>
        </div>
        <!-- Тут доделать слайдер -->
        <div class="index-reviews__reviews reviews">
          <div class="reviews__slider swiper">
            <div class="reviews__wrapper swiper-wrapper">
              {% if reviews %} {% for review in reviews %}
              <div class="reviews__slide swiper-slide">
                <p class="reviews__text">{{ review.text }}</p>
                <p class="reviews__name">{{ review.name }}</p>
              </div>
              {% endfor %} {% endif %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "../includes/contact-block.html" %} {% include "../components/map.html" %}
</main>
{% endblock %}
