{% load static %}{% load carts_tag %}{% user_carts request as carts %}
<div class="header">
  <div class="header__container">
    <div class="header__inner">
      <button type="button" class="header__callback" data-popup="callback">
        Заказать звонок
        <img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="Заказать звонок" title="Заказать звонок"/>
      </button>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="{% url 'category'%}">Каталог</a>
            {% if category_menu %}
            <ul class="nav__submenu submenu">
              <li><a href="{% url 'granit' %}">Гранитные</a></li>
              {% for category in category_menu %}
              <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
            <button type="button" class="nav__chevron">
              <img src="{% static 'theme/mb/images/icon/chevron-down_white.svg' %}"
                   alt="Иконка открытие меню"
                   title="Иконка открытие меню"/>
            </button>

          </li>
          <li class="nav__item">
            <a href="{% url 'service' %}">Услуги</a>
          </li>
          <li class="nav__item"><a href="{% url 'service_grav' %}">Гравировка</a></li>
          <li class="nav__item"><a href="{% url 'service_new' %}">Установка</a></li>
          <li class="nav__item"><a href="{% url 'delivery' %}">Оплата</a></li>
          <li class="nav__item"><a href="{% url 'gallery' %}">Наши работы</a></li>
          <li class="nav__item">
            <div class="nav__item-inner">
              <a href="{% url 'about' %}">О нас</a>
              <button type="button" class="nav__chevron">
                <img src="{% static 'theme/mb/images/icon/chevron-down_white.svg' %}"
                     alt="Иконка открытие меню"
                     title="Иконка открытие меню"/>
              </button>
            </div>
            <ul class="nav__submenu submenu">
              <li><a href="{% url 'blog' %}">Статьи</a></li>
            </ul>

          </li>
          <li class="nav__item"><a href="{% url 'contact' %}">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>